<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dev.berserk.firststeps">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".FirstSteps"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".components.ComponentsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".simpsonsActivity.SimpsonsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".components.MoreComponentsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".avengersActivity.AvengersActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".emailActivity.EmailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".profileActivity.ProfileActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".newPagerActivity.ViewPagerActivity">
            android:name=".emailActivity.EmailActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".goodViewPagerActivity.GoodViewPagerActivity">
            android:name=".emailActivity.EmailActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".viewPagerFormActivity.ViewPagerActivity">
            android:name=".emailActivity.EmailActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".viewPagerFormActivity.FormActivity">
            android:name=".emailActivity.EmailActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".databaseandrecyclerview.RealRecyclerSampleActivity">
            android:name=".emailActivity.EmailActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".databaseandrecyclerview.EditShopActivity">
            android:name=".emailActivity.EmailActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".notificationssample.NotificationsActivity" />
        <activity android:name=".notificationssample.FirstActivity">
            android:name=".emailActivity.EmailActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".webview.WebViewSampleActivity">
            android:name=".emailActivity.EmailActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".mediaplayer.MusicActivity" >
            android:name=".emailActivity.EmailActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".mediaplayer.VideoActivity">
            android:name=".emailActivity.EmailActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>